{empty name="list"}
<strong><h3>没有更多数据了!!!!!</h3></strong>
{else/}
<?php foreach($list as $k=>$market):?>
<div class="row noticeList">
    <a href="{:url('details?id='.$market['id'])}">
        <div class="">
            <img class="noticeImg" src="{$picture[$k]}" style="width: 300px"/>
        </div>
        <div class="col-xs-10">
            <p class="title">{$market.title}</p>
            <p class="intro">{$market.description}</p>
            <p class="info">浏览量:{$market.view} <span class="pull-right">{$market.create_time|date="Y-m-d H:i:s",###}</span> </p>
        </div>
    </a>
</div>
<?php endforeach;?>
<button class="btn btn-info load btn-block" onclick="load({$no})">获取更多</button>
{/empty}
